<h2>Edit LfpChampions</h2>

    <table class="table">
        <thead>
                <tr>
                    <th>Champion</th>
                    <th>Champion city</th>
                    <th>Season</th>
                    <th>Runner-up</th>
                </tr>
        </thead>
                
                
            <tbody>
                    <tr
                        <td class="info"><input class="form-control" ng-model="updatedLfpChampions.champion"></td>
                        <td class="info">{{updatedLfpChampions.season}}</td>
                        <td class="info"><input class="form-control" ng-model="updatedLfpChampions.championcity" ></td>
                        <td class="info"><input class="form-control" ng-model="updatedLfpChampions.season" ></td>
                        <td class="info"><input class="form-control" ng-model="updatedLfpChampions.runnerup"></td>
                        <td class="info"><button class="btn btn-succes" ng-click="editaLfpChampions(updatedLfpChampions)">EDITAR LFPCHAMPIONS</button></td>
                    </tr>
            </tbody>
    </table>
    
