<h2>LfpChampion</h2>
    <table class="table">
        <thead>
            <tr><h4>APIKEY: adrdavand</h4></tr>
            <tr>
                <th>Introduce APIKEY<input class="form-control" ng-model="apikey"></th>
                <th class="text-center"><button class="btn btn-primary" ng-click="getData()">GET DATA</button></th>
                <th class="text-center"><button class="btn btn-primary" ng-click="loadInitialData()">INICIALIZA</button></th>
                
            </tr>
                
            <tr>
                <th class="success">Introduce LIMIT<input class="form-control" ng-model="limit" placeholder="Limit"></th>
                <th class="success">Introduce OFFSET<input class="form-control" ng-model="offset" placeholder="Offset"></th>
                <th class="success"><button class="btn btn-success" ng-click="getPaginacion()">Get</button></th>
            </tr>
            
        </thead> 
        
        
        <table class="table">
            <thead>
                <tr><h4>Búsqueda por temporada</h4></tr>
                <tr>
                    <th class="success"><input class="form-control" ng-model="newLfpChampion.season"></th>
                    <th class="success"><button class="btn btn-succes" ng-click="search()">BUSCAR</button></th>
                
                </tr>
            </thead> 
        </table>
                    
        <table class="table" >
            <thead>
                <tr><h4>Vaciar la base de datos:</h4></tr>
                <button class="btn-danger" ng-click="deleteLista()">BORRAR TODO</button>
            </thead>
        </table>
                    
        <table class="table">
            <thead>
                <tr>
                    <th>Champion</th>
                    <th>Champion City</th>
                    <th>Season</th>
                    <th>Runner-up</th>
                </tr>
            </thead>
                
                
                <tbody>
                    <tr>
                        <td class="info"><input class="form-control" ng-model="newLfpChampion.champion" placeholder="Champion"></td>
                        <td class="info"><input class="form-control" ng-model="newLfpChampion.championcity" placeholder="Champion City"></td>
                        <td class="info"><input class="form-control" ng-model="newLfpChampion.season" placeholder="Season"></td>
                        <td class="info"><input class="form-control" ng-model="newLfpChampion.runnerup" placeholder="Runner-up"></td>
                        <td class="info"><button class = "btn btn-succes" ng-click="addLfpChampion()">Add</button></td>
                    </tr>
                
                    <!-- <tr>
                        <td class="info"><input class="form-control" ng-model="newLfpChampion.nationality"></td>
                        <td class="info"><input class="form-control" ng-model="newLfpChampion.season"></td>
                        <td class="info"><input class="form-control" ng-model="newLfpChampion.name" ></td>
                        <td class="info"><input class="form-control" ng-model="newLfpChampion.team" ></td>
                        <td class="info"><input class="form-control" ng-model="newLfpChampion.goal"></td>
                        <td class="info" ><button class="btn btn-warning" ng-click="editaLfpChampion()">EDITAR LFPCHAMPION</button></td>
                    </tr> -->
                    
                    <tr ng-repeat="lfpchampion in lfpchampions"> 
                        <td>{{lfpchampion.champion}}</td>
                        <td>{{lfpchampion.championcity}}</td>
                        <td><a href = "#!/update/{{lfpchampion.season}}">{{lfpchampion.season}}</a></td>
                        <td>{{lfpchampion.runnerup}}</td>
                        <td><button class = "button btn-danger" ng-click="deleteLfpChampion(lfpchampion.season)">Delete</button></td>
                    </tr>
            </table>        
                <tr>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(0)">&laquo; Primera pagina</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(0)">1</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(3)">2</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(6)">3</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(9)">4</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(12)">5</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(12)">Última página &raquo;</button></th>
                </tr>
                </tbody>
            