<h2>Edit champion</h2>
<table class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Champion</th>
            <th>Runnerup</th>
            <th>Stadium</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
                
    <tbody>
        <tr>
                        <td class="info"><input class="form-control" ng-model="updatedUclchampion.year"></td>
                        <td class="info"><input class="form-control" ng-model="updatedUclchampion.champion"></td>
                        <td class="info"><input class="form-control" ng-model="updatedUclchampion.runnerup" ></td>
                        <td class="info"><input class="form-control" ng-model="updatedUclchampion.stadium" ></td>
                        <td class="info"><input class="form-control" ng-model="updatedUclchampion.city"></td>
                        <td class="info" ><button class="btn btn-warning" ng-click="editUclchampion(updatedUclchampion)">EDITAR CHAMPION</button></td>
                    </tr>
    </tbody>    
</table>