<h2>Edit champion</h2>
<table class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Champion</th>
            <th>Runnerup</th>
            <th>Stadium</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
                
    <tbody>
        <tr>
            <td class="info">{{updateduclchampions.year}}</td>
            <td class="info"><input class="form-control" ng-model="updateduclchampions.champion"></td>
            <td class="info"><input class="form-control" ng-model="updateduclchampions.runnerup" ></td>
            <td class="info"><input class="form-control" ng-model="updateduclchampions.stadium" ></td>
            <td class="info"><input class="form-control" ng-model="updateduclchampions.city"></td>
            <td class="info" ><button class="btn btn-warning" ng-click="editauclchampion()">EDITAR CAMPEON</button></td>
        </tr>
    </tbody>    
</table>