
            <h2>UCL CHAMPIONS</h2>
            <table class="table">
                <thead>
                    <tr><h4>APIKEY: adrdavand</h4></tr>
                    <tr>
                        <th>Introduce APIKEY<input class="form-control" ng-model="apikey" placeholder="adrdavand"></th>
                        <th class="text-center"><button class="btn-primary" ng-click="getData()">GET DATA</button></th>
                        <th class="text-center"><button class="btn-primary" ng-click="loadInitialData()">INICIALIZA</button></th>
                        
                    </tr>
                    
                    <tr>

                        <th class="success">Introduce LIMIT<input class="form-control" ng-model="limit" placeholder="Limit"></th>
                        <th class="success">Introduce OFFSET<input class="form-control" ng-model="offset" placeholder="Offset"></th>
                        <th class="success"><button class="btn btn-success" ng-click="getPaginacion()">Get</button></th>
                    </tr>
                    
                    
                </thead> 
                    <table class="table">
                    <thead>
                        <tr><h4>Búsqueda por año</h4></tr>
                    <tr>
                        <th class="success"><input class="form-control" ng-model="newuclchampions.year"></th>
                        <th class="success"><button class="btn btn-succes" ng-click="search()">BUSCAR</button></th>
                        
                    </tr>
                    </thead> 
                    </table>
                    
                    
                    <table class="table" >
                        <thead>
                            <tr><h4>Vaciar la base de datos:</h4></tr>
                           <button class="btn-danger" ng-click="deleteLista()">BORRAR TODO</button>
                        </thead>
                    </table>
                    
                    
                    <table class="table">
                    <thead>
                        <tr>
                        <th>Year</th>
                        <th>Champion</th>
                        <th>Runnerup</th>
                        <th>Stadium</th>
                        <th>City</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                
                
                <tbody>
                
                    <tr>
                        <td class="info"><input class="form-control" ng-model="newuclchampions.year" placeholder="Year"></td>
                        <td class="info"><input class="form-control" ng-model="newuclchampions.champion" placeholder="Champion"></td>
                        <td class="info"><input class="form-control" ng-model="newuclchampions.runnerup" placeholder="Runnerup"></td>
                        <td class="info"><input class="form-control" ng-model="newuclchampions.stadium" placeholder="Stadium"></td>
                        <td class="info"><input class="form-control" ng-model="newuclchampions.city" placeholder="City"></td>
                        <td class="info"><button class = "button btn-primary" ng-click="adduclchampion()">Add</button></td>

                    </tr>
                <!--
                    <tr>
                        <td class="info"><input class="form-control" ng-model="newuclchampions.year"></td>
                        <td class="info"><input class="form-control" ng-model="newuclchampions.champion"></td>
                        <td class="info"><input class="form-control" ng-model="newuclchampions.runnerup" ></td>
                        <td class="info"><input class="form-control" ng-model="newuclchampions.stadium" ></td>
                        <td class="info"><input class="form-control" ng-model="newuclchampions.city"></td>
                        <td class="info" ><button class="btn btn-warning" ng-click="editauclchampion()">EDITAR CHAMPION</button></td>
                    </tr> 
                   
                    -->
                   
                    
                    <tr ng-repeat="champion in uclchampions"> 
                        <td><a href="#!/{{champion.year}}">{{champion.year}}</a></td>
                        <td>{{champion.champion}}</td>
                        <td>{{champion.runnerup}}</td>
                        <td>{{champion.stadium}}</td>
                        <td>{{champion.city}}</td>
                        <td><button class = "button btn-danger" ng-click="deleteuclchampion(champion.year)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>