<h2>Edit Pichichi</h2>

    <table class="table">
        <thead>
                <tr>
                    <th>Nationality</th>
                    <th>Season</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Goal</th>
                    <th>Actions</th>
                </tr>
        </thead>
                
                
            <tbody>
                    <tr>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.nationality"></td>
                        <td class="info">{{pichichi.season}}</td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.name" ></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.team" ></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.goal"></td>
                        <td class="info" ><button class="btn btn-warning" ng-click="editaPichichi()">EDITAR PICHICHI</button></td>
                    </tr>
            </tbody>
    </table>
    
