<h2>Edit Pichichi</h2>

    <table class="table">
        <thead>
        
        <tr><h4>APIKEY: adrdavand</h4></tr>
            <tr>
                <th>Introduce APIKEY<input class="form-control" ng-model="apikey"></th>
                <th class="text-center"><button class="btn-primary" ng-click="getData()">GET DATA</button></th>
                
            </tr>
                <tr>
                    <th>Nationality</th>
                    <th>Season</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Goal</th>
                    <th>Actions</th>
                </tr>
        </thead>
                
                
            <tbody>
                   <!-- <tr>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.nationality"></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.season"></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.name" ></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.team" ></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.goal"></td>
                        <td class="info" ><button class="btn btn-warning" ng-click="editaPichichi()">EDITAR PICHICHI</button></td>
                    </tr>-->
                
                <tr ng-repeat="pichichi in lfppichichitrophy"> 
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.nationality">{{pichichi.nationality}}</td>
                        <td class="info">{{pichichi.season}}</td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.name">{{pichichi.name}}</td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.team">{{pichichi.team}}</td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.goal">{{pichichi.goal}}</td>
                        <td class="info" ><button class="btn btn-warning" ng-click="editaPichichi())">Update</button></td>
                    </tr>
            </tbody>
    </table>
    
