<h2>Edit Pichichi</h2>

    <table class="table">
        <thead>
                <tr>
                    <th>Nationality</th>
                    <th>Season</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Goal</th>
                    <th>Actions</th>
                </tr>
        </thead>
                
                
            <tbody>
                <tr>
                    <td class="info"><input class="form-control" ng-model="updatePichichi.nationality" placeholder="Nationality"></td>
                    <td class="info"><input class="form-control" ng-model="updatePichichi.season" placeholder="Season"></td>
                    <td class="info"><input class="form-control" ng-model="updatePichichi.name" placeholder="Name"></td>
                    <td class="info"><input class="form-control" ng-model="updatePichichi.team" placeholder="Team"></td>
                    <td class="info"><input class="form-control" ng-model="updatePichichi.goal" placeholder="Goal"></td>
                    <td class="info"><button class = "button btn-primary" ng-click="updatePichichi()">Update</button></td>
                </tr>
            </tbody>
    </table>