<h2>Pichichi</h2>
    <table class="table">
        <thead>
            <tr><h4>APIKEY: adrdavand</h4></tr>
            <tr>
                <th>Introduce APIKEY<input class="form-control" ng-model="apikey"></th>
                <th class="text-center"><button class="btn btn-primary" ng-click="getData()">GET DATA</button></th>
                <td><button id="loadInitialData" class="btn btn-primary" ng-click="loadInitialData()">INICIALIZA</button></td>
            </tr>
                
            <tr>
                <th class="success">Introduce LIMIT<input class="form-control" ng-model="limit" placeholder="Limit"></th>
                <th class="success">Introduce OFFSET<input class="form-control" ng-model="offset" placeholder="Offset"></th>
                <th class="success"><button class="btn btn-success" ng-click="getPaginacion()">Get</button></th>
            </tr>
            
        </thead> 
        
        
        <table class="table">
            <thead>
                <tr><h4>Búsqueda por temporada</h4></tr>
                <tr>
                    <th class="success"><input class="form-control" ng-model="newlfppichichitrophy.season"></th>
                    <th class="success"><button class="btn btn-succes" ng-click="search()">BUSCAR</button></th>
                
                </tr>
            </thead> 
        </table>
                    
        <table class="table" >
            <thead>
                <tr><h4>Vaciar la base de datos:</h4></tr>
                <button class="btn-danger" ng-click="deleteLista()">BORRAR TODO</button>
            </thead>
        </table>
                    
        <table class="table">
            <thead>
                <tr>
                    <th>Nationality</th>
                    <th>Season</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Goal</th>
                    <th>Actions</th>
                </tr>
            </thead>
                
                
                <tbody>
                    <tr>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.nationality" placeholder="Nationality"></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.season" placeholder="Season"></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.name" placeholder="Name"></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.team" placeholder="Team"></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.goal" placeholder="Goal"></td>
                        <td class="info"><button class = "btn btn-succes" ng-click="addPichichi()">Add</button></td>
                    </tr>
                
                    <!-- <tr>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.nationality"></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.season"></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.name" ></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.team" ></td>
                        <td class="info"><input class="form-control" ng-model="newlfppichichitrophy.goal"></td>
                        <td class="info" ><button class="btn btn-warning" ng-click="editaPichichi()">EDITAR PICHICHI</button></td>
                    </tr> -->
                    
                    <tr ng-repeat="pichichi in lfppichichitrophy"> 
                        <td>{{pichichi.nationality}}</td>
                        <td><a href = "#!/update/{{pichichi.season}}">{{pichichi.season}}</a></td>
                        <td>{{pichichi.name}}</td>
                        <td>{{pichichi.team}}</td>
                        <td>{{pichichi.goal}}</td>
                        <td><button class = "button btn-danger" ng-click="deletePichichi(pichichi.season)">Delete</button></td>
                    </tr>
            </table> 
            
            
                <!--<tr>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(0)">&laquo; Primera pagina</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(0)">1</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(3)">2</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(6)">3</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(9)">4</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(12)">5</button></th>
                        <th><button class="btn btn-success" ng-click="getPaginacion2(12)">Última página &raquo;</button></th>
                </tr>-->
                
                View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                    <option>3</option>
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    </select> records at a time.
                <pre>The selected page number: {{currentPage}}</pre>
        
<div   id= "pagination"  style="display:none;" disabled = true>
        
        <table>
        <td><button class="btn btn-info" ng-click="previousPage(currentPage-1)" ng-disabled = "currentPage==1">Prev</button></td>
        <td ng-repeat="page in pages" >
          <a><button class="btn btn-info" ng-click="newPage(page)">{{page}}</button></a>
        </td>
        <td><button class="btn btn-info" ng-click="nextPage(currentPage+1)" ng-disabled ="currentPage == pages.length">Next</button></td>
        </table>
</div>        
                
                
                
                </tbody>
            